
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    max-width: 1280px;
    margin: 0 auto;
}

/* shared styles */

.sec-title{
    font-weight:bold;
    font-size: 40px;
    color: #0E0E0E;
}

.sec-descrip{
    font-weight: 400;
    font-size: 16px;
    color: #0E0E0E;
    opacity: 70%;
}
 
.btn-primary{
    font-weight: 500;
    font-size: 18px;
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 17px 34px;
    border: none;
}
/* banner styles */

.banner{
    display: flex;
    background-color:#C6E4D6 ;
    border-radius: 24px;
    margin: 20px ;
}

.banner-content{
    padding: 117px 60px 117px 59px;
}
.banner-title{
    font-weight: 500;
    font-size: 24px;
    color: #0E0E0E;
    opacity: 50%;
}

.banner-descrip{
    font-weight: 700;
    font-size: 56px;
    color: #0E0E0E;
}

.pic{
    padding:80px 60px ;
}

/* vision styles */
/* .visions{
    justify-content: center;
    align-items: center;
} */
.vision-container{
    display: flex;
    gap: 24px;
    margin: 32px 32px;
}

/* .vision-descrip{
    margin-left: 160px;
    margin-right: 160px;
} */

.vision-container .vision-1{
    background-color: #5490F5;
    opacity: 80%;
    padding: 32px 32px;
}

.vision-1 .btn-1{
    font-weight: 500;
    font-size: 18px;
    background-color: #5490F5;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 17px 34px;
    border: none;
}

.vision-container .vision-2{
    background-color: #C6E4D6;
    padding: 32px 32px;
}

.vision-2 .btn-2{
    font-weight: 500;
    font-size: 18px;
    background-color: #09A15C;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 17px 34px;
    border: none;
}

.vision-container .vision-3{
    background-color: #F7EBCF;
    padding: 32px 32px;
}

.vision-3 .btn-3{
    font-weight: 500;
    font-size: 18px;
    background-color: #FFC239;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 17px 34px;
    border: none;
}

.vision-title{
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
    opacity: 80%;
}

/* quote styles */

.quote-container{
    background-image:url('../assets/quote-bg.png') ;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 80px;
    opacity: 120%;
}

.quote-name{
    font-weight: 600;
    font-size: 20px;
}
